.sous_titre{
    color: blueviolet;
}
.carreRose{
    width: 20px;
    height: 20px;
    background-color: pink;
  }
  .carreBleu{
    width: 20px;
    height: 20px;
    background-color: blueviolet;
  }