/* You can add global styles to this file, and also import other style files */
.p-component{
    font-size: 14px;
    margin-top: 10px;
}
.p-dropdown .p-dropdown-label {
    font-size: 14px;
    font-weight: bold;
}
    